<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for sharing your experience</h1>
    <p>
      However, it's not public yet.<br>
    </p>
    <p>
      To confirm that you'd like to post your experience, just follow this link: <%= @url %>.
    </p>
    <p>After a moderator has checked what you've posted, it'll be made publically visible. This process may take time.</p>
    
    <p><i>I'm for truth, no matter who tells it. I'm for justice, no matter who it's for or against.</i> - Malcolm X</p>
  </body>
</html>