<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone else just posted another story</h1>

    <p>With id <%= @id %></p>

    <p>Please see whether it can be approved</p>
    
    <p><i>I'm for truth, no matter who tells it. I'm for justice, no matter who it's for or against.</i> - Malcolm X</p>
  </body>
</html>